# HTTP serveur
PORT=3000

# Base de données locale
PG_URL=postgres://admin:<votre_mot_de_passe>@localhost:5432/kalhyge-prod

# Base de données Render
DATABASE_URL=postgresql://kalhyge_prod_user:<mot_de_passe>@<hôte>:5432/kalhyge_prod
